# Server Configuration
PORT=3000

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/message_app

# Authentication

# CORS

# Dev
APP_STAGE="development" # development or production or test

